@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-radius: 5px
  }

  tr:nth-child(even) {
    background-color: #ffe6ce;
  }
  tr:nth-child(odd) {
    background-color: #fff2e5;
  }
  